/* You can add global styles to this file, and also import other style files */

@import './my-theme.scss';

body {
  margin: 0;
  padding: 0;
  background-color: rgb(250, 248, 248);
  font-family: 'Noto Sans', sans-serif;
}
